<% content_for :splash_logo do %>
  <%= image_tag("main-horizontal-logo.png")%>
<% end %>

<div id="bread-crumbs">
  <p>You are here: <%= link_to "HOME", root_path %> 
  </p>
</div>

<div class="row">
<!--   <div class="col-lg-12"> -->
  <div class="jumbotron">
    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
  </div>
</div>
  
<div class="row">
  <div class="col-lg-12 tools-box">
    <div class="col-xs-12 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0 tools">
      <div class="box1 boxes">
        <h3>EMPATHY</h3>
        
        <div class="hover-box">
          <%= image_tag "placeholder.png" %>
          <div class="hover-text">
            Aenean in magna imperdiet, imperdiet velit vitae, ultrices velit. Vivamus faucibus, diam sed rutrum porttitor, magna lacus imperdiet augue, vel suscipit risus turpis vel sapien. Aenean vitae magna mauris. Duis ante tortor, eleifend accumsan hendrerit sed, venenatis volutpat leo.
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0 tools">
      <div class="box2 boxes">
        <h3>UNBUNDLING</h3>
        <div class="hover-box">
           <%= image_tag "placeholder.png" %>
          <div class="hover-text">
             Vivamus varius in augue non imperdiet. Fusce feugiat lobortis erat a tincidunt. In nunc erat, cursus mattis suscipit eget, bibendum at dui. Donec id ultrices libero. Ut mattis orci quis neque feugiat tincidunt. Proin et velit justo. Morbi tempor mauris urna, quis sollicitudin mauris interdum nec.
          </div>
        </div>
      </div>
    </div> 
    <div class="col-xs-12 col-sm-4 col-sm-offset-0 col-md-4 col-md-offset-0 col-lg-4 col-lg-offset-0 tools">
      <div class="box3 boxes">
          <a href="/prototyping/prototype-index">
          <h3>PROTOTYPING</h3>
      
          <div class="hover-box">
            <%= image_tag "placeholder.png" %>
            <div class="hover-text">
              Nunc eu sollicitudin orci. Duis et tempor odio. Praesent molestie ligula nisi, vitae commodo ipsum congue ac. Aenean id aliquam purus, eu sagittis ligula. Sed facilisis convallis dui. Sed imperdiet turpis aliquam arcu rhoncus aliquet. Phasellus dui lacus, faucibus non malesuada et, pharetra vel orci.
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <h2>BROWSE PROJECTS</h2>
  <div class="jcarousel-wrapper home-carousel">

      <!-- Carousel -->
      <div class="jcarousel row" data-jcarousel="true">
          <ul style="left: 0px; top: 0px;">
              <li>
                <%=link_to image_tag("placeholder.png", alt: "Person one's face"), {:action => 'project_page', :controller => 'pages'} %>
              </li>
              <li>
                <%=link_to image_tag("placeholder.png", alt: "Person one's face"), {:action => 'project_page', :controller => 'pages'} %>
              </li>
              <li>
                <%=link_to image_tag("placeholder.png", alt: "Person one's face"), {:action => 'project_page', :controller => 'pages'} %>
              </li>
              <li>
                <%=link_to image_tag("placeholder.png", alt: "Person one's face"), {:action => 'project_page', :controller => 'pages'} %>
              </li>
              <li>
                <%=link_to image_tag("placeholder.png", alt: "Person one's face"), {:action => 'project_page', :controller => 'pages'} %>
              </li>
              <li>
                <%=link_to image_tag("placeholder.png", alt: "Person one's face"), {:action => 'project_page', :controller => 'pages'} %>
              </li>
              <li>
                <%=link_to image_tag("placeholder.png", alt: "Person one's face"), {:action => 'project_page', :controller => 'pages'} %>
              </li>
              <li>
                <%=link_to image_tag("placeholder.png", alt: "Person one's face"), {:action => 'project_page', :controller => 'pages'} %>
              </li>
              <li>
                <%=link_to image_tag("placeholder.png", alt: "Person one's face"), {:action => 'project_page', :controller => 'pages'} %>
              </li>
              <li>
                <%=link_to image_tag("placeholder.png", alt: "Person one's face"), {:action => 'project_page', :controller => 'pages'} %>
              </li>
              <li>
                <%=link_to image_tag("placeholder.png", alt: "Person one's face"), {:action => 'project_page', :controller => 'pages'} %>
              </li>
              <li>
                <%=link_to image_tag("placeholder.png", alt: "Person one's face"), {:action => 'project_page', :controller => 'pages'} %>
              </li>
              
          </ul>
      </div>

      <!-- Prev/next controls -->

      <div class="left-btn btn">
        <%= link_to image_tag("prev.png"), "#", :class => 'jcarousel-control-prev' %>
      </div>
      <div class="right-btn btn">
        <%= link_to image_tag("next.png"), "#", :class => 'jcarousel-control-next' %>
      </div>

  </div>
</div>







