<% content_for(:header) do %>
<h1 id="page-heading"> PAPER PROTOTYPING </h1>
<% end %>

<div id="bread-crumbs">
	<p>You are here:<%= link_to "Home", root_path %> > <%= link_to "Prototyping Index", prototyping_prototype_index_path %> > <%= link_to "Paper Prototyping", prototyping_paper_prototyping_path %></p>
</div>

<section id="vid_text"><!--video and text section -->
	<div class="text">
		<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.Duis aute irure dolor in reprehenderit in voluptate velit esse. </p>
		</div>

		<div class="video">
			<iframe width="560" height="315" src="//www.youtube.com/embed/o_si39QFYKI" frameborder="0" allowfullscreen></iframe>
		</div>
		<div id="pdf_share_btn" style="
		width: 450px;
		padding-left: 0px;
		padding-right: 10px;
		margin-left: 0%;
		">

		<a href="#"><button type="button" class="btn btn-default" style="
			height: 65px;
			width: 174px;
			padding: px;
			text-align: center;
			margin-left: 1%;
			background-color: #2d9ed4;
			color: white;
			">Download materials</button></a>

			<a href="#"><button type="button" class="btn btn-default" style="
				height: 65px;
				width: 174px;
				padding: 10px;
				text-align: center;
				margin-left: 5px;
				background-color: #f37441;
				color: white;
				/* float: left; */
				">Share!</button></a>
			</div>
		</div>
	</section><!--end of text and vid section -->
	<hr>

	<section id="practiced"><!--People who practiced -->
		<h2>See who else practiced this.</h2>
		<div id="carousel">



			<!-- ********** Carousel(start)******* -->


			<div class="carousel">
				<div><%=link_to image_tag("1.png", alt: "Person one's face", width: "270", height: "270"), {:action => 'project_page', :controller => 'pages'}, :class => 'dock-item' %></div>
				<div><%=link_to image_tag("3.png", alt: "Person one's face", width: "270", height: "270"), {:action => 'project_page', :controller => 'pages'}, :class => 'dock-item' %></div>
				<div><%=link_to image_tag("4.png", alt: "Person one's face", width: "270", height: "270"), {:action => 'project_page', :controller => 'pages'}, :class => 'dock-item' %></div>
				<div><%=link_to image_tag("5.png", alt: "Person one's face", width: "270", height: "270"), {:action => 'project_page', :controller => 'pages'}, :class => 'dock-item' %></div>
				<div><%=link_to image_tag("6.png", alt: "Person one's face", width: "270", height: "270"), {:action => 'project_page', :controller => 'pages'}, :class => 'dock-item' %></div>
				<div><%=link_to image_tag("7.png", alt: "Person one's face", width: "270", height: "270"), {:action => 'project_page', :controller => 'pages'}, :class => 'dock-item' %></div>
			</div>

			<!-- :) *********Carousel(end)*********** --> 


		</div>

	</section><!--end of People who practiced -->

	<hr>

	<section id="additional-tools" style="padding-top: 0px; margin-top: 0px;"><!--Additional tools -->
		<div id="additional-header" style="">
			<h2>Addtional tools.</h2>
		</div>

		<div id="three-cols">
			<div id="left-col">
				<a href="#">
					<button type="button" class="btn btn-default" style="margin-bottom: 40px; margin-right: 20px;height: 100px;">Link 1</button>
				</a>
				<!-- <br> -->
				<a href="#">
					<button type="button" class="btn btn-default" style="margin-bottom: 40px; margin-right: 20px;height: 100px;">Link 2</button>
				</a>
			</div>

			<div id="center-col">
				<a href="#">
					<button type="button" class="btn btn-default" style="margin-bottom: 40px; margin-right: 20px;height: 100px;">Link 3</button>
				</a>
				<!-- <br> -->
				<a href="#">
					<button type="button" class="btn btn-default" style="margin-bottom: 40px; margin-right: 20px;height: 100px;">Link 4</button>
				</a>
			</div>

			<div id="right-col">
				<a href="#">
					<button type="button" class="btn btn-default" style="margin-bottom: 40px; margin-right: 20px;height: 100px;">Link 5</button>
				</a>
				<!-- <br> -->
				<a href="#">
					<button type="button" class="btn btn-default" style="margin-bottom: 40px; margin-right: 20px;height: 100px;">Link 6</button>
				</a>
			</div>
		</div>
	</section><!--end of Additional tools  -->
