<% content_for(:header) do %>
<h1> PROTOTYPING </h1>
<% end %>

<section id="vid_text"><!--video and text section -->
	<div class="text">
		<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text.Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

		<div class="video">
			<iframe width="560" height="315" src="//www.youtube.com/embed/o_si39QFYKI" frameborder="0" allowfullscreen></iframe>
		</div>
		<div id="pdf_share_btn" style="
		width: 450px;
		padding-left: 0px;
		padding-right: 10px;
		margin-left: 7%;
		">

		<a href="#"><button type="button" class="btn btn-default" style="
			height: 65px;
			width: 160px;
			padding: px;
			text-align: center;
			margin-left: 1%;
			background-color: #2d9ed4;
			color: white;
			">Download materials</button></a>

			<a href="#"><button type="button" class="btn btn-default" style="
				height: 65px;
				width: 160px;
				padding: 10px;
				text-align: center;
				margin-left: 5px;
				background-color: #f37441;
				color: white;
				/* float: left; */
				">Share!</button></a>
			</div>
		</div>
	</section><!--end of text and vid section -->
	<hr>

	<section id="practiced"><!--People who practiced -->
		<h2>See who else practiced this.</h2>
		<div id="carousel">



<!-- ********** Carousel(start)******* -->
	

<div class="your-class">
  <div><%= image_tag "1.png", alt: "Person one's face", width: "270", height: "270" %>
</div>

  <div><%= image_tag "3.png", alt: "Person one's face", width: "270", height: "270" %>
</div>

  <div><%= image_tag "4.png", alt: "Person one's face", width: "270", height: "270" %>
</div>

<div><%= image_tag "5.png", alt: "Person one's face", width: "270", height: "270" %>
</div>

<div><%= image_tag "6.png", alt: "Person one's face", width: "270", height: "270" %>
</div>

<div><%= image_tag "7.png", alt: "Person one's face", width: "270", height: "270" %>
</div>
</div>

<!-- *********Carousel(end)*********** -->






		</div>
	</section><!--end of People who practiced -->

	<hr>

	<section id="additional-tools" style="padding-top: 0px; margin-top: 0px;"><!--Additional tools -->
		<div id="additional-header" style="">
			<h2>Addtional tools.</h2>
		</div>

		<div id="three-cols">
			<div id="left-col">
				<a href="#">
					<button type="button" class="btn btn-default" style="margin-bottom: 40px; margin-right: 20px;height: 100px;">Link 1</button>
				</a>
				<!-- <br> -->
				<a href="#">
					<button type="button" class="btn btn-default" style="margin-bottom: 40px; margin-right: 20px;height: 100px;">Link 2</button>
				</a>
			</div>

			<div id="center-col">
				<a href="#">
					<button type="button" class="btn btn-default" style="margin-bottom: 40px; margin-right: 20px;height: 100px;">Link 3</button>
				</a>
				<!-- <br> -->
				<a href="#">
					<button type="button" class="btn btn-default" style="margin-bottom: 40px; margin-right: 20px;height: 100px;">Link 4</button>
				</a>
			</div>

			<div id="right-col">
				<a href="#">
					<button type="button" class="btn btn-default" style="margin-bottom: 40px; margin-right: 20px;height: 100px;">Link 5</button>
				</a>
				<!-- <br> -->
				<a href="#">
					<button type="button" class="btn btn-default" style="margin-bottom: 40px; margin-right: 20px;height: 100px;">Link 6</button>
				</a>
			</div>
		</div>
	</section><!--end of Additional tools  -->

	<!-- Carousel script tags(start): scripts for the Center Mode carousel on http://kenwheeler.github.io/slick/  Will have add them to the manifest later and figure out if there is a better way of adding them to Rails. (Requires jQuery 1.7 +)-->

     <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
     <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
     <script type="text/javascript" src="slick/slick.min.js">
     <!-- end of Script tags for carousel -->
     <!-- carousel reladed! does not go here! -->
$(document).ready(function(){
  $('.your-class').slick({
    setting-name: setting-value
  });
});
</script>
