<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LaunchBox - 4.0 Schools</title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Bootstrap" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  
  <body>
    <header>
      <a href="http://4pt0.org">
        <img src="/assets/main-horizontal-logo.png" alt="4.0 Schools" />
      </a>
    <%= render 'layouts/navigation' %>
    </header>
    <main role="main">
       <%#= render 'layouts/messages' %>
       <%= yield %>
    </main>
  </body>
</html>
 <!--  <body class = "container-fluid">
    <header class="navbar navbar-fixed-top">
      <div class = "navbar-inner">
        <div class="container">
          <a href="http://4pt0.org">
            <img src="/assets/main-horizontal-logo.png" alt="4.0 Schools" />
          </a>
          <a href="#" class="to_nav">
            MENU</i>
          </a>
         <nav class="main-nav clearfix" role="navigation">
            <ul class ="clearfix">
              <li><a href="#">EMPATHY</a></li>
              <li><a href="#">UNBUNDLING</a></li>
              <li><a href="#">PROTOTYPING</a></li>
            </ul>
            
           </nav> 
        </div>
      </div>
    </header> -->

    <!-- <div id="launch-logo">
      <a href="#">
        <img src="/assets/launchbox.png" alt="Launch Logo" />
      </a>
    </div>
    <%#= render "searchbar" %>
    <div class = "container">
      <%= yield %>
    </div>

    <div id="footer">
      <div id="sub-logo">
        <a href="http://4pt0.org">
          <img src="/assets/main-icon.png" alt="4.0 Schools" />
        </a>
      </div>
      <div id="social-media">
        <div class="footer-media">
          <a href="https://twitter.com/4pt0schools" target="_blank">
            <i class="fa fa-twitter"></i>
          </a>
        </div>

        <div class="footer-media">
          <a href="https://facebook.com/4.0Schools" target="_blank">Facebook</a>
        </div>

        <div class="footer-media">
          <a href="http://linkedin.com/company/4.0-schools" target="_blank">Linkedin</a>
        </div>

        <div class="footer-media">
          <a href="https://flickr.com/photos/89848701@N04/" target="_blank">Flickr</a>
        </div>

        <div class="footer-media">
          <a href="https://soundcloud.com/4pt0schools" target="_blank">Sound Cloud</a>
        </div>

        <div class="footer-media">
          <a href="http://youtube.com/4pt0" target="_blank">Youtube</a>
        </div>
      </div> -->
    <!-- </div>

  </body>
</html> -->
